<div class="header" >
    {{Headers?.header}}
</div>
<div class="layout" >
    <mat-tab-group mat-align-tabs="center" #tabGroup>
        <!-- Project  -->
        <mat-tab>
            <!-- TAB HEADER  -->
            <ng-template mat-tab-label>
                <div >
                    <span > {{Headers?.product}}</span>
                </div>
            </ng-template>
            <!-- TAB CONTENT  -->
            <div class="tab-padding" >
                <track-project></track-project>
            </div>
        </mat-tab>
        <!-- Solution  -->
        <mat-tab>
            <!-- TAB HEADER  -->
            <ng-template mat-tab-label>
                <div >
                    <span > {{Headers?.solution}}</span>
                </div>
            </ng-template>
            <!-- TAB CONTENT  -->
            <div class="tab-padding" >
                <track-solution></track-solution>
            </div>
        </mat-tab>
        <!-- Feature  -->
        <mat-tab>
            <!-- TAB HEADER  -->
            <ng-template mat-tab-label>
                <div >
                    <span > {{Headers?.feature}}</span>
                </div>
            </ng-template>
            <!-- TAB CONTENT  -->
            <div class="tab-padding" >
                <track-feature></track-feature>
            </div>
        </mat-tab>
        <!-- Usecse  -->
        <mat-tab>
            <!-- TAB HEADER  -->
            <ng-template mat-tab-label>
                <div >
                    <span > {{Headers?.usecase}}</span>
                </div>
            </ng-template>
            <!-- TAB CONTENT  -->
            <div class="tab-padding" >
                <track-usecase></track-usecase>
            </div>
        </mat-tab>

    </mat-tab-group>
</div>