<div class="header" >
    CORE
</div>
<div class="layout" >
    <mat-tab-group mat-align-tabs="center" #tabGroup>
        <!-- Project  -->
        <mat-tab>
            <!-- TAB HEADER  -->
            <ng-template mat-tab-label>
                <div class="pas-flex-column-direction">
                    <span class="pas-p40-ovrvw-tabheading-clr">PROJECT/PRODUCT</span>
                </div>
            </ng-template>
            <!-- TAB CONTENT  -->
            <div class="tab-padding" >
                <track-project></track-project>
            </div>
        </mat-tab>
        <!-- Solution  -->
        <mat-tab>
            <!-- TAB HEADER  -->
            <ng-template mat-tab-label>
                <div class="pas-flex-column-direction">
                    <span class="pas-p40-ovrvw-tabheading-clr">SOLUTION</span>
                </div>
            </ng-template>
            <!-- TAB CONTENT  -->
            <div class="tab-padding" >
                <track-solution></track-solution>
            </div>
        </mat-tab>
        <!-- Feature  -->
        <mat-tab>
            <!-- TAB HEADER  -->
            <ng-template mat-tab-label>
                <div class="pas-flex-column-direction">
                    <span class="pas-p40-ovrvw-tabheading-clr">FEATURE</span>
                </div>
            </ng-template>
            <!-- TAB CONTENT  -->
            <div class="tab-padding" >
                <track-feature></track-feature>
            </div>
        </mat-tab>
        <!-- Usecse  -->
        <mat-tab>
            <!-- TAB HEADER  -->
            <ng-template mat-tab-label>
                <div class="pas-flex-column-direction">
                    <span class="pas-p40-ovrvw-tabheading-clr">USECASE</span>
                </div>
            </ng-template>
            <!-- TAB CONTENT  -->
            <div class="tab-padding" >
                <track-usecase></track-usecase>
            </div>
        </mat-tab>

    </mat-tab-group>
</div>