/* login.component.css */
.form-signin {
    max-width: 330px;
    padding: 15px;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"],
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    transition: box-shadow 0.3s, border-color 0.3s;
  }
  
  .form-signin input[type="email"]:hover,
  .form-signin input[type="password"]:hover {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  