<div class="container-fluid">
    <!--  -->
    <div class="row flex-nowrap">
        <!-- SIDE NAV BAR -->
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <!--  -->
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100" style="justify-content: space-between;" >
                <!--  -->
                <div style="display: flex;flex-direction: column;row-gap: 1rem;" >
                    <!-- SIDE NAV HEADER  -->
                    <a>
                        <span >Menu</span>
                    </a>
                    <!-- SIDE NAV ITEMS  -->
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <!-- SIDE NAV MAIN ITEMS -->
                        <li class="nav-item" *ngFor="let item of menuItems">
                            <a *ngIf="item.subMenu && item.subMenu?.length == 0" (click)="navigateTo(item.route)" class="nav-link align-middle px-0 pointer">
                                <i [class]="item.icon"></i> <span class="ms-1 d-none d-sm-inline">{{ item.name }}</span>
                            </a>
                            <!-- SIDE NAV SUB ITEMS      -->
                            <div *ngIf="item.subMenu && item?.subMenu?.length != 0" class="w-100">
                                <a href="#{{ item.collapseId }}" data-bs-toggle="collapse"
                                    class="nav-link px-0 align-middle">
                                    <i [class]="item.icon"></i> <span class="ms-1 d-none d-sm-inline">{{ item.name }}</span>
                                </a>
                                <!-- sUB ITEMS -->
                                <ul class="collapse nav flex-column ms-1" [id]="item.collapseId" data-bs-parent="#menu">
                                    <li class="w-100" *ngFor="let subItem of item.subMenu">
                                        <a (click)="navigateTo(subItem.route)" class="nav-link px-0">
                                            <span class="d-none d-sm-inline">{{ subItem.name }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
    
                        </li>
                    </ul>
                </div>
                <hr>
                <!-- USER DETAILS -->
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="user" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">User</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- CONTENT -->
        <div class="col" style="padding:0!important" >
            <router-outlet></router-outlet>
        </div>
    </div>
</div>