<div class="header" >
    USER MANAGEMENT
</div>
<div class="layout" >
    <mat-tab-group mat-align-tabs="center" #tabGroup>
        <!-- ROLE  -->
        <mat-tab>
            <!-- TAB HEADER  -->
            <ng-template mat-tab-label>
                <div class="pas-flex-column-direction">
                    <span class="pas-p40-ovrvw-tabheading-clr">ROLE</span>
                </div>
            </ng-template>
            <!-- TAB CONTENT  -->
            <div>
                Tab 1
            </div>
        </mat-tab>
        <!-- DEPARTMENT  -->
        <mat-tab>
            <!-- TAB HEADER  -->
            <ng-template mat-tab-label>
                <div class="pas-flex-column-direction">
                    <span class="pas-p40-ovrvw-tabheading-clr">DEPARTMENT</span>
                </div>
            </ng-template>
            <!-- TAB CONTENT  -->
            <div>
                Tab 1
            </div>
        </mat-tab>
        <!-- USER  -->
        <mat-tab>
            <!-- TAB HEADER  -->
            <ng-template mat-tab-label>
                <div class="pas-flex-column-direction">
                    <span class="pas-p40-ovrvw-tabheading-clr">USER</span>
                </div>
            </ng-template>
            <!-- TAB CONTENT  -->
            <div>
                Tab 1
            </div>
        </mat-tab>
    </mat-tab-group>
</div>