<div class="header" >
    USER MANAGEMENT
</div>
<div class="layout" >
    <mat-tab-group mat-align-tabs="center" #tabGroup>
        <!-- DEPARTMENT  -->
        <mat-tab>
            <!-- TAB HEADER  -->
            <ng-template mat-tab-label>
                <div class="pas-flex-column-direction">
                    <span class="pas-p40-ovrvw-tabheading-clr">DEPARTMENT</span>
                </div>
            </ng-template>
            <!-- TAB CONTENT  -->
            <div>
                <track-department></track-department>
            </div>
        </mat-tab>
        <!-- DESIGNATION  -->
        <mat-tab>
            <!-- TAB HEADER  -->
            <ng-template mat-tab-label>
                <div class="pas-flex-column-direction">
                    <span class="pas-p40-ovrvw-tabheading-clr">DESIGNATION</span>
                </div>
            </ng-template>
            <!-- TAB CONTENT  -->
            <div>
                <track-designation></track-designation>
            </div>
        </mat-tab>
        <!-- USER  -->
        <mat-tab>
            <!-- TAB HEADER  -->
            <ng-template mat-tab-label>
                <div class="pas-flex-column-direction">
                    <span class="pas-p40-ovrvw-tabheading-clr">USER</span>
                </div>
            </ng-template>
            <!-- TAB CONTENT  -->
            <div>
                <track-user></track-user>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>