<div class="header" >
    {{headers?.Header}}
</div>
<div class="layout" >
    <mat-tab-group mat-align-tabs="center" #tabGroup>
        <!-- DEPARTMENT  -->
        <mat-tab>
            <!-- TAB HEADER  -->
            <ng-template mat-tab-label>
                <div >
                    <span >{{headers?.dep}}</span>
                </div>
            </ng-template>
            <!-- TAB CONTENT  -->
            <div class="tab-padding" >
                <track-department></track-department>
            </div>
        </mat-tab>
        <!-- DESIGNATION  -->
        <mat-tab>
            <!-- TAB HEADER  -->
            <ng-template mat-tab-label>
                <div >
                    <span >{{headers?.desg}}</span>
                </div>
            </ng-template>
            <!-- TAB CONTENT  -->
            <div class="tab-padding" >
                <track-designation></track-designation>
            </div>
        </mat-tab>
        <!-- USER  -->
        <mat-tab>
            <!-- TAB HEADER  -->
            <ng-template mat-tab-label>
                <div >
                    <span >{{headers?.user}}</span>
                </div>
            </ng-template>
            <!-- TAB CONTENT  -->
            <div class="tab-padding" >
                <track-user></track-user>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>